*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  &:has(.header.open), 
  &:has(#modal) {
    overflow: hidden;
  }
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.4s linear;
}

a {
  text-decoration: none;
  transition: all 0.4s linear;
}

ul {
  list-style: none;
}

img {
  display: block;
}

input {
  width: 100%;
  outline: none;
  border: none;
}
